# Python
*.pyc
build/
dist/
venv/
.cache/
.pytest_cache/
pygsheets.egg-info/
.pytest_cache/

# File types
*.json
*.csv

# Tests
test/*.json
test/usages
test/data/*.json
test/manual_test1.py

# Other
.idea/
.DS_Store
.python-version
.coverage



