*.pyc
*.csv
build/
dist/
# docs/
test/usages
test/manual_test1.py
creds.json
client_secret.json
sheets.googleapis.com-python.json
.idea/
.cache/
pygsheets.egg-info/
service_creds.json
.DS_Store
.coverage
venv/
.pytest_cache/
