*.pyc
*.csv
build/
dist/
# docs/
test/*.json
test/usages
test/data/*.json
test/manual_test1.py
creds.json
client_secret.json
sheets.googleapis.com-python.json
.idea/
.cache/
pygsheets.egg-info/
service_creds.json
.DS_Store
.coverage
venv/
